{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": "> 1%",
        "uglify": true
      },
      "useBuiltIns": "entry"
    }]
  ],

  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
//    "transform-object-rest-spread",
    ["@babel/plugin-proposal-class-properties", { "spec": true }]
  ]
}
