version: '3'
services:
  db:
    image: postgres:14-alpine
    ports:
      - "5432:5432"
    volumes: 
      - ./pgdata:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=password
  web:
    build: .
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    depends_on:
      - db
    environment: 
      - DB_HOST=db