<div class="recipe noSubmitOnEnter" data-controller="recipeform" data-recipeform-url="<%= search_tags_path(term: 'term', format: :json) %>">
  <%= form_for @recipe do |f| %>
    <div class="field">
      <%= f.label :name, class: 'label' %>
      <div class="control">
        <%= f.text_field :name, class: 'input', placeholder: t('recipes.form.placeholder.name') %>
      </div>
    </div>
    <div class="field">
      <%= f.label :ingredients, class: 'label' %>
      <div class="control">
        <%= f.text_area :ingredients, class: 'textarea', placeholder: t('recipes.form.placeholder.ingredients') %>
      </div>
    </div>
    <div class="field">
      <%= f.label :instructions, class: 'label' %>
      <div class="control">
        <%= f.text_area :instructions, class: 'textarea', placeholder: t('recipes.form.placeholder.instructions') %>
      </div>
    </div>
    <div class="field">
      <%= f.label :duration, class: 'label' %>
      <div class="control">
        <%= f.number_field :duration, class: 'input', placeholder: t('recipes.form.placeholder.duration'), autocomplete: 'off' %>
      </div>
    </div>
    <div class="field">
      <%= f.label :tags, class: 'label' %>
      <div class="control">
        <%= f.text_field :tag_names, class: 'input', placeholder: t('recipes.form.placeholder.tags'), 'data-action': 'keyup->recipeform#findtags', 'data-target': 'recipeform.tags', autocomplete: 'off'  %>
      </div>
      <p data-target="recipeform.tagsSuggestion" class="tagsSuggestion">
      </p>
    </div>
    <div class="field">
      <%= f.label :source, class: 'label' %>
      <div class="control">
        <%= f.text_field :source, class: 'input', placeholder: t('recipes.form.placeholder.source'), autocomplete: 'off' %>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <%= f.button t('action.save'), class: 'button is-link' %>
      </div>
    </div>
  <% end %>
</div>
