<ul>
  <% @recipes.each{ |r| %>
    <li>
      <a href="<%= recipe_path(r) %>"><%= r.name %></a>
      <% if r.favorite %> 
        <i class="has-text-primary fas fa-star"></i>
      <% end %>
    </li>
  <% } %>
</ul>
