<ul class="list-none">
  <% @recipes.each{ |r| %>
    <li>
      <a class="nocolor" href="<%= recipe_path(r) %>"><%= r.name %></a>
      <% if r.favorite %> 
        <i class="has-text-primary fas fa-star"></i>
      <% end %>
    </li>
  <% } %>
</ul>

<%= paginate @recipes, window: 2 %>
