<div class="container">
  <h1 class="title">
    <%=t 'recipes.title' %>
  </h1>
  <div class="recipes">
    <ul>
      <% @recipes.each{ |r| %>
        <li>
          <a href="<%= recipe_path(r) %>"><%= r.name %></a>
        </li>
      <% } %>
    </ul>
  </div>
</div>
