<div class="container">
  <div data-controller="search" data-search-url="<%= search_recipes_path %>">
    <p class="input_has_icons_left">
      <%= text_field_tag :search, nil, class: '', placeholder: t('action.search'), autocomplete: 'off',
          'data-action': 'keyup->search#search', 
          'data-target': 'search.term' %>
      <i class="fas fa-search"></i>
    </p>
    <div class="recipes" data-target="search.list">
      <%= render partial: 'list' %>
    </div>
  </div>
</div>
