<div class="container">
  <h1 class="title">
    Rezepte
  </h1>
  <div class="recipes">
    <ul>
      <% @recipes.each{ |r| %>
        <li>
          <a href="<%= recipy_path(r) %>"><%= r.name %></a>
        </li>
      <% } %>
    </ul>
  </div>
</div>
