  <% if flash[:error] %>
    <div class="notification danger">
      <%= flash[:error] %>
    </div>
  <% end %>
  <% if flash[:warning] %>
    <section class="section">
      <div class="container">
        <div class="notification warning">
          <%= flash[:warning] %>
        </div>
      </div>
    </section>
  <% end %>
  <% if flash[:info] %>
    <section class="section">
      <div class="container">
        <div class="notification info">
          <%= flash[:info] %>
        </div>
      </div>
    </section>
  <% end %>
  <% if flash[:success] %>
    <section class="section">
      <div class="container">
        <div class="notification success">
          <%= flash[:success] %>
        </div>
      </div>
    </section>
  <% end %>
