<div class="section nospacebottom nospacetop">
  <div class="container">
    <nav class="level is-mobile nospacebottom">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
        </div>
      </div>

      <!-- Right side -->
      <div class="level-right">
        <div class="level-item">
          <div class="buttons">
            <a class="button is-primary" href="<%= recipes_path %>">
              <span class="icon is-small">
                <i class="fas fa-list-ul"></i>
              </span>
            </a>
            <a class="button is-primary" href="<%= new_recipe_path %>">
              <span class="icon is-small">
                <i class="fas fa-plus-square"></i>
              </span>
            </a>
            <a class="button is-primary" href="<%= tags_path %>">
              <span class="icon is-small">
                <i class="fas fa-tags"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
