<div class="columns">
  <div class="column">
    <%= image_tag image, data: { action: 'mousedown->ocr-selection#mousedown mouseup->ocr-selection#mouseup mousemove->ocr-selection#mousemove'} %>  </div>
  <div class="column">
    x1: <span data-target="ocr-selection.x1">0</span><br/>
    y1: <span data-target="ocr-selection.y1">0</span><br/>
    x2: <span data-target="ocr-selection.x2">0</span><br/>
    y2: <span data-target="ocr-selection.y2">0</span><br/>
  </div>
</div>
