<div class="grid grid-cols-2 gap-4">
  <div>
    <div class="canvases">
      <canvas 
        id="canvas0"
        class="ocrcanvas" 
        data-target="ocr-selection.canvasImg"
        >
      </canvas>
      <canvas 
        id="canvas1"
        class="ocrcanvas" 
        data-target="ocr-selection.canvasSelect"
        data-action="mousedown->ocr-selection#mousedown mouseup->ocr-selection#mouseup mousemove->ocr-selection#mousemove"
        >
      </canvas>
    </div>
  </div>
  <div>
    <div>
      <%= select_tag 'language', options_for_select([[t('ocr.show.lang.deu'), 'deu'], [t('ocr.show.lang.eng'), 'eng']], 'deu'), data: { target: 'ocr-selection.language'} %>
      <%= button_tag t('ocr.show.submit'), class: 'button', data: { action: 'click->ocr-selection#submit'} %>
      <span class="hidden" data-target="ocr-selection.spinner">
        <i class="fas fa-spinner fa-spin"></i>
      </span>
      <%= button_tag t('ocr.show.toclipboard'), class: 'button', data: { action: 'click->ocr-selection#toclipboard', target: 'ocr-selection.toclipboardbtn'} %>
      <%= text_area_tag :recognized, 
            nil, 
            class: 'textarea w-full', 
            placeholder: t('ocr.show.recognized_text_placeholder'), 
            data: { 
              target: 'ocr-selection.recognizedtext'
            }, 
            rows: 20, 
            autocomplete: 'off' 
      %>
    </div>
  </div>
</div>
