
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
$primary: $yellow;
$section-padding: 1.5em 1.5em;
@import "~bulma/bulma";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts" !default;
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/fa-solid";

.display_none {
  display: none;
}

.nospacetop {
  margin-top: 0em !important;
  padding-top: 0em !important;
}

.nospacebottom {
  margin-bottom: 0em !important;
  padding-bottom: 0em !important;
}

.title {
  border-bottom: 3px $yellow solid;
  padding-bottom: 5px;
}

.is-mobile .level-item:last-child {
  margin-right: 0em;
}

.tagsSuggestion .tag {
  margin-right: 0.5em;
}

.delete_images {
  .to_delete {
    border: 2px solid $background;
  }
  .selected_for_delete {
    border: 2px solid $danger;
  }
}
