
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
$primary: $yellow;
$section-padding: 1.5em 1.5em;
@import "~bulma/bulma";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts" !default;
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";

.display_none {
  display: none;
}

.nospacetop {
  margin-top: 0em !important;
  padding-top: 0em !important;
}

.nospacebottom {
  margin-bottom: 0em !important;
  padding-bottom: 0em !important;
}

.spacetop {
  margin-top: 1em;
}

.spacebottom {
  margin-bottom: 1em;
}

.paddingleft {
  padding-left: 10px;
}

.title {
  border-bottom: 4px $yellow solid;
  padding-bottom: 5px;
}

p.subtitle {  // yellow line only in combination with <p> tag
  border-bottom: 2px $yellow solid;
  // padding-bottom: 5px;
}

.is-mobile .level-item:last-child {
  margin-right: 0em;
}

.tagsSuggestion .tag {
  margin-right: 0.5em;
}

.delete_images {
  .to_delete {
    border: 2px solid $background;
  }
  .selected_for_delete {
    border: 2px solid $danger;
  }
}

.prop_fix { 
  float: left;
  width: 60px;
}

.valign-middle {
  vertical-align: middle
}

.canvases {
  width: 100%;
  height: 100%;
  position: relative;

  .ocrcanvas {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #canvas0 {
    z-index: 0;
  }
  #canvas1 {
    z-index: 10;
    background-color: transparent;
  }
}
