<div class="field is-grouped is-grouped-multiline">
  <% @tags.each do |t| %>
    <a class="not-prose" href="<%= filter_by_tag_recipes_path(:tagid => t.id) %>"><%= render :partial => 'shared/tag_count', :locals => { tag: t } %></a>
  <% end %>
</div>