<div class="container">
  <h1 class="title">
    <%=t 'tags.title' %>
  </h1>
  <div data-controller="tags" data-tags-url="<%= tags_path %>">
    <div class="field">
      <p class="control has-icons-left">
        <%= text_field_tag :search, nil, class: 'input', placeholder: t('action.search'), autocomplete: 'off',
            'data-action': 'keyup->tags#search', 
            'data-target': 'tags.term' %>
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>
    <div data-target="tags.tagslist">
      <%= render partial: 'tagslist' %>
    </div>
  </div>
</div>