<div class="container">
  <h1 class="title">
    <%=t 'tags.title' %>
  </h1>
  <div class="tags">
    <div class="field is-grouped is-grouped-multiline">
      <% @tags.each do |t| %>
        <div class="control">
          <a class="tags has-addons" href="<%= by_tag_recipes_path(:tag => t.id) %>">
            <span class="tag is-dark"><%= t.name %></span>
            <span class="tag is-info"><%= t.recipes.count %></span>
          </a>
        </div>
      <% end %>
  </div>
</div>