<div class="container">
  <div>
    <span class="heading_1">
      <%=t 'tags.title' %>
    </span>
  </div>
  <div class="mt-4" data-controller="search" data-search-url="<%= search_tags_path %>">
    <p class="input_has_icons_left">
      <%= text_field_tag :search, nil, class: '', placeholder: t('action.search'), autocomplete: 'off',
          'data-action': 'keyup->search#search', 
          'data-target': 'search.term' %>
      <i class="fas fa-search"></i>
    </p>
    <div data-target="search.list">
      <%= render partial: 'tagslist' %>
    </div>
  </div>
</div>