@import "tailwindcss";
@import "./actiontext.scss";
@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/solid.css";
@import "@fortawesome/fontawesome-free/css/regular.css";
@import "./custom.css";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@source "../../views/**/*.html.erb";
@source "../../helpers/**/*.rb";
@source "../../javascript/**/*.js";
