@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@import "./actiontext.scss";
@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/solid.css";
@import "@fortawesome/fontawesome-free/css/regular.css";
@import "./custom.css";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@source "../../views/**/*.html.erb";
@source "../../helpers/**/*.rb";
@source "../../javascript/**/*.js";

@theme {  
    --font-noto-sans: "Noto Sans", sans-serif;
    --font-family-sans: var(--font-noto-sans);
    --font-sans: var(--font-noto-sans);
}
