@layer base {
    .prose {
        a:not(.not-prose) {
            @apply no-underline p-1 rounded-md text-indigo-800;
        }

        a:not(.not-prose).nocolor {
            @apply no-underline p-1 rounded-md text-gray-700;
        }
    
        a:not(.not-prose):hover {
            @apply bg-amber-100;
        }
    
        @apply leading-4;
    }
}

@layer components {
    .text-primary {
        @apply text-amber-500;
    }

    .heading_1 {
        @apply text-2xl pr-2 font-semibold border-solid border-amber-500 border-b-2;  
    }
    
    .heading_2 {
        @apply pr-2 text-xl font-medium border-solid border-amber-200 border-b-2;  

        .subheading {
            @apply pl-2 text-base font-light italic;
        }
    }

    .heading_3 {
        @apply pr-2 text-base italic font-medium;  
    }

    .nav_item_right {
        @apply py-1 px-2 mr-2 rounded-md;
        @apply hover:bg-amber-100;
    }

    .pagination-list {
        li {
            @apply list-none inline-block;

            a {
                @apply text-gray-400;
            }

            a:hover {
                @apply text-indigo-800 bg-amber-100;
            }
        }
        li.current-page {
            a {
                @apply text-amber-500;
            }
        }
    }

    .tag {
        @apply px-2 py-1 my-2 bg-gray-700 rounded-md text-sm text-white font-light;
    }

    .tag:hover {
        @apply text-indigo-800 bg-amber-100;
    }

    .button {
        @apply my-2 p-1 pl-3 pr-3 bg-amber-500 text-gray-100 rounded-lg;
    }

    .button:hover {
        @apply bg-amber-600 ;
    }

    .button-action {
        @apply bg-indigo-500;
    }

    .button-action:hover {
        @apply bg-indigo-600;
    }

    .modal {
        @apply absolute top-0 left-0 right-0 bottom-0 z-50;
        @apply bg-gray-600 bg-opacity-90;

        > div {
            @apply top-0 bottom-0 mx-auto;
            @apply flex justify-center items-center h-screen;
        }
    }
}

@layer utilities {
    .recipe_images {
        .image {
            @apply inline-block p-1;
            @apply border-4 border-transparent;
        }

        .image:hover {
            @apply border-4 border-amber-200 border-solid;
        }
    }
}
