<div class="container">
    <span class="heading_2">
        <%=t 'profile.title' %>
    </span>
    <div class="mt-4">
        <%= @user['email'] %>
    </div>
    <div class="mt-4">
        <%= button_to t('profile.change_password'), change_password_path, method: :get, class: 'button' %>
    </div>
</div>