<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if @page_title %>
      <title><%= "#{@page_title} | #{t('application_title')}"  %></title>
    <% else %>
      <title><%=t 'application_title' %></title>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'styles' %>
  </head>

  <body>
    <%= render :partial => 'shared/navigation' %>
    <%= render :partial => 'shared/messages' %>
    <section class="section">
      <%= yield %>
    </section>
  </body>
</html>
